<div id="content-top">
  <table id="holdstable" class="tablesorter" >
    <thead>
      <tr>
        <!-- <th>hyllesign</th> -->
        <th>lokasjon</th>
        <th>materialtype</th>
        <th>forfatter</th>
        <th>tittel</th>
        <th>strekkode</th>
        <th>år</th>
        <th hidden="true">bnr</th>
        <th>tnr</th>
        <th>lnr</th>
        <th>res.dato</th>
        <th>henteavd</th>
        <th>Hentes av</th>
        <th>Funnet</th>
      </tr>
    </thead>
    <tbody>
      <% books.forEach(function(hold, index, array) { %>
        <tr id="<%=index%>">
          <!-- <td><%= hold.itemcallnumber %></td> -->
          <td><%= hold.location %></td>
          <td><%= hold.itype %></td>
          <td><%= hold.author ? hold.author : '' %></td>
          <td><%= hold.title %></td>
          <td><%= hold.barcode %></td>
          <td><%= hold.copyrightdate %></td>
          <td class="biblionumber" hidden="true"><%= hold.biblionumber %></td>
          <td class="itemnumber"><%= hold.itemnumber %></td>
          <td class="borrowernumber"><%= hold.borrowernumber %></td>
          <td><%= hold.reservedate %></td>
          <td><%= hold.pickbranch %></td>
          <td>Kayser Söze</td>
          <td>
            <% if (hold.found) { %> 
              <a href="#" class="found" id="star" ></a>
            <% } else { %>
              <a href="#" class="unfound" id="star" ></a>
            <% } %>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>
<!-- <div id="content-middle">
  midtinnhold her ja
</div>
<div id="content-bottom">
  bunninnhold her ja
</div> -->
