<div id="content-top">
  <h3>Plukkliste Deichman</h3>
  <table id="holdstable" class="tablesorter" >
    <thead>
      <tr>
        <th>sign</th>
        <th>lok</th>
        <!--<th>type</th>-->
        <th>år</th>
        <th>res.dato</th>
        <th>avd</th>
        <th>forf</th>
        <th>tittel</th>
        <th>strekkode</th>
        <th hidden="true">bnr</th>
        <th>tnr</th>
        <th>lnr</th>
        <th>Hvem<br/>henter</th>
        <th>Funnet</th>
      </tr>
    </thead>
    <tbody>
      <% books.forEach(function(hold, index, array) { %>
        <tr id="row<%=index%>">
          <td><%= hold.itemcallnumber ? hold.itemcallnumber : '' %></td>
          <td><%= hold.location %></td>
          <!--<td><%= hold.itype %></td>-->
          <td><%= hold.copyrightdate ? hold.copyrightdate : '' %></td>
          <td><%= hold.reservedate ? hold.reservedate : '' %></td>
          <td><%= hold.pickbranch %></td>
          <td><%= hold.author ? hold.author : '' %></td>
          <td><%= hold.title %></td>
          <td><%= hold.barcode %></td>
          <td class="biblionumber" hidden="true"><%= hold.biblionumber %></td>
          <td class="itemnumber"><%= hold.itemnumber %></td>
          <td class="borrowernumber"><%= hold.borrowernumber %></td>
          <td>Liv</td>
          <td>
            <% if (hold.found) { %> 
              <a href="#" class="found" id="star" ></a>
            <% } else { %>
              <a href="#" class="unfound" id="star" ></a>
            <% } %>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>
<!-- <div id="content-middle">
  midtinnhold her ja
</div>
<div id="content-bottom">
  bunninnhold her ja
</div> -->
